test_javascript/anketa_if.html
test_javascript/anketa_oper.html
test_javascript/ball.png
test_javascript/football.png
test_javascript/index.html
test_javascript/simply.html
test_javascript/task_1.html
test_javascript/words.html
